{
  "openapi": "3.0.3",
  "info": {
    "title": "UltravioletaDAO API",
    "version": "1.1.0",
    "description": "Public API of UltravioletaDAO at https://api.ultravioletadao.xyz (one AWS Lambda behind API Gateway). Every operation listed here is deployed; nothing here charges (no x402, no payments). Routes that read or write member data answer 500 with an `error` when the database fails. The agent manual, with flows and expected errors by operationId, is https://ultravioletadao.xyz/skill.md. Also published at https://ultravioletadao.xyz/.well-known/openapi/uvdao-api.json (same bytes).",
    "contact": { "name": "UltravioletaDAO", "url": "https://ultravioletadao.xyz", "email": "ultravioletadao@gmail.com" },
    "license": { "name": "MIT", "url": "https://github.com/UltravioletaDAO/uvdweb/blob/main/LICENSE" }
  },
  "servers": [
    { "url": "https://api.ultravioletadao.xyz", "description": "Production" }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "API status and endpoint list",
        "operationId": "getStatus",
        "responses": {
          "200": {
            "description": "API is up",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string" },
                    "timestamp": { "type": "string", "format": "date-time" },
                    "availableEndpoints": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": { "type": "string" },
                          "method": { "type": "string" },
                          "description": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Health check",
        "description": "Answers 200 when the service responds.",
        "operationId": "getHealth",
        "responses": {
          "200": {
            "description": "The service responds",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "enum": ["ok"] },
                    "service": { "type": "string" },
                    "version": { "type": "string" },
                    "timestamp": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/apply": {
      "post": {
        "summary": "Submit a DAO membership application",
        "description": "Writes a real application that humans review. Send it only with the explicit confirmation of the person applying.",
        "operationId": "applyMembership",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Application" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Application stored with status pending",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string" },
                    "id": { "type": "string" },
                    "success": { "type": "boolean" }
                  }
                }
              }
            }
          },
          "400": { "description": "Invalid or missing email (a body that is not JSON counts as missing)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "429": { "description": "An application with this email already exists in the last 24 hours", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/apply/status/{email}": {
      "get": {
        "summary": "Status of the latest application of an email",
        "description": "Returns only the status and its dates, nothing personal. The email matches case-insensitively.",
        "operationId": "getApplicationStatus",
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "required": true,
            "description": "URL-encoded email of the applicant",
            "schema": { "type": "string", "format": "email" }
          }
        ],
        "responses": {
          "200": {
            "description": "Latest application found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": { "type": "string", "description": "pending until a reviewer changes it" },
                        "createdAt": { "type": "string", "format": "date-time" },
                        "updatedAt": { "type": "string", "format": "date-time" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Invalid or missing email", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "404": { "description": "No application with that email", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/wallets": {
      "post": {
        "summary": "Register a viewer wallet for the stream wheel",
        "description": "Only the streamer can call it: it requires the Twitch user token of an authorized streamer. Not usable by an autonomous agent.",
        "operationId": "registerWallet",
        "security": [{ "twitchBroadcaster": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["username", "wallet"],
                "properties": {
                  "username": { "type": "string", "description": "Twitch login of the viewer (stored lowercase)" },
                  "wallet": { "type": "string", "pattern": "^0x[a-fA-F0-9]{40}$", "description": "EVM address (Avalanche C-Chain), stored lowercase" },
                  "twitch_id": { "type": "string", "description": "Optional stable Twitch user id" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "The user already has this wallet", "content": { "application/json": { "schema": { "type": "object", "properties": { "message": { "type": "string" }, "details": { "type": "string" } } } } } },
          "201": { "description": "Wallet registered", "content": { "application/json": { "schema": { "type": "object", "properties": { "message": { "type": "string" }, "id": { "type": "string" } } } } } },
          "400": { "description": "Body is not JSON, username or wallet missing, wallet malformed, the wallet belongs to another user, or the user already has a different wallet","content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "401": { "description": "Missing, invalid or expired Twitch token", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "403": { "description": "The token does not belong to an authorized streamer","content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "500": { "$ref": "#/components/responses/ServerError" },
          "503": { "description": "Network error while validating the token with Twitch; retry","content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/mcp": {
      "post": {
        "summary": "Remote MCP server (Streamable HTTP, JSON-RPC 2.0)",
        "description": "Methods initialize, ping, tools/list and tools/call; protocol versions 2025-06-18, 2025-03-26 and 2024-11-05. No authentication, no payments, no session (no mcp-session-id), direct JSON responses (never SSE). GET answers 405 with Allow: POST, OPTIONS. The tool catalog is in https://ultravioletadao.xyz/.well-known/mcp/server-card.json. Does not need the database, except the apply_dao_membership tool, which writes through POST /apply.",
        "operationId": "mcpJsonRpc",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/JsonRpcRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response. Two kinds of failure travel with HTTP 200, so check both: (1) a JSON-RPC `error`: -32601 unknown method, -32602 tools/call without params.name, -32600 a JSON body that is not a request object, -32603 internal error; (2) a tools/call `result` with `isError: true`: unknown tool, invalid arguments, or the tool failed or was refused (for example apply_failed_429 when apply_dao_membership hits a 429), with the detail as JSON in result.content[0].text.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/JsonRpcResponse" } } }
          },
          "202": { "description": "Notification accepted (no body)" },
          "400": {
            "description": "Body empty or not JSON (-32700), or a batch (-32600; JSON-RPC batching left the MCP spec in 2025-06-18)",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/JsonRpcResponse" } } }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "twitchBroadcaster": {
        "type": "http",
        "scheme": "bearer",
        "description": "Twitch user access token of an authorized streamer (validated against id.twitch.tv)."
      }
    },
    "responses": {
      "ServerError": {
        "description": "Server or database error",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      }
    },
    "schemas": {
      "Application": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": { "type": "string", "format": "email", "description": "The only server-validated field" },
          "fullName": { "type": "string" },
          "twitter": { "type": "string" },
          "telegram": { "type": "string" },
          "twitch": { "type": "string" },
          "walletAddress": { "type": "string", "description": "EVM address (Avalanche C-Chain)" },
          "story": { "type": "string" },
          "purpose": { "type": "string" },
          "references": { "type": "string" },
          "timestamp": { "type": "integer", "description": "Unix timestamp in seconds" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string" },
          "details": { "type": "string" }
        }
      },
      "JsonRpcRequest": {
        "type": "object",
        "required": ["jsonrpc", "method"],
        "properties": {
          "jsonrpc": { "type": "string", "enum": ["2.0"] },
          "id": { "oneOf": [{ "type": "string" }, { "type": "integer" }] },
          "method": { "type": "string" },
          "params": { "type": "object" }
        }
      },
      "JsonRpcResponse": {
        "type": "object",
        "properties": {
          "jsonrpc": { "type": "string", "enum": ["2.0"] },
          "id": { "oneOf": [{ "type": "string" }, { "type": "integer" }], "nullable": true },
          "result": {
            "type": "object",
            "description": "For tools/call: the tool output in content[0].text and isError true when the tool did not succeed",
            "properties": {
              "content": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": { "type": "string", "enum": ["text"] },
                    "text": { "type": "string" }
                  }
                }
              },
              "isError": { "type": "boolean" }
            }
          },
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "integer" },
              "message": { "type": "string" }
            }
          }
        }
      }
    }
  }
}
